footer {
    text-align: center;
    padding: 10px 0;
    span {
        display: block;
    }
}

@media screen and (min-width: 720px){
    footer {
        span {
            display: inline;
        }
    }
}