@import '../../../../../assets/css/variables';

#filters{
    background-color: $white;
    padding: 10px;
    border-radius: 5px;
    #filterContainerHeader{
        display: flex;
        margin-bottom: 15px;
        h3, a{
            flex-grow: 1;
        }
        a {
            text-align: right;
            cursor: pointer;
            text-decoration: underline;
            margin-top: 2px;
        }
    }
    .filterTypeContainer{
        .filterHeader{
            p{
                width: 80%;
                border-bottom: 1px solid $secondary;
                text-align: center;
                margin: auto;
                padding-bottom: 5px;
            }
        }
        .filterBody{
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            & > div {
                flex: 50%;
                padding: 5px 0;
            }
            & > div:nth-child(even){
                text-align: right;
            }
        }
    }
}