<div id="filters">
    <div id="filterContainerHeader">
        <h3 tabindex="0" aria-label="Filters">Filters</h3>
        <a id="clearFilter" tabindex="0" *ngIf="isLaunchFilter || isLandFilter || isYearFilter" (click)="clearFilters()" aria-label="Clear Filter">Clear Filter</a>
    </div>
    <div class="filterTypeContainer">
        <div class="filterHeader">
            <p tabindex="0">
                Launch Year
            </p>
        </div>
        <div class="filterBody">
            <div *ngFor="let year of launchYears">
                <button [attr.aria-label]="'Launch Year ' + year" (click)="toggleLaunchYear(year)" class="btn" [ngClass]="{'active': isYearFilter == year}">{{year}}</button>
            </div>
        </div>
    </div>
    <div class="filterTypeContainer">
        <div class="filterHeader">
            <p tabindex="0">
                Successful Launch
            </p>
        </div>
        <div class="filterBody">
            <div>
                <button aria-label="Successful Launch True" (click)="launchSuccess('true')" class="btn" [ngClass]="{'active': isLaunchFilter == 'true'}">True</button>
            </div>
            <div>
                <button aria-label="Successful Launch False" (click)="launchSuccess('false')" class="btn" [ngClass]="{'active': isLaunchFilter == 'false'}">False</button>
            </div>
        </div>
    </div>
    <div class="filterTypeContainer">
        <div class="filterHeader">
            <p tabindex="0">
                Successful Landing
            </p>
        </div>
        <div class="filterBody">
            <div>
                <button aria-label="Successful Landing True" (click)="landSuccess('true')" class="btn" [ngClass]="{'active': isLandFilter == 'true'}">True</button>
            </div>
            <div>
                <button aria-label="Successful Landing False" (click)="landSuccess('false')" class="btn" [ngClass]="{'active': isLandFilter == 'false'}">False</button>
            </div>
        </div>
    </div>
</div>