.program{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    min-height: 460px;
    .programImage{
        background-color: #F2F2F2;
        text-align: center;
    }
    .programDetails{
        h3{
            line-height: 25px;
            margin-top: 10px;
        }
        div {
            * {
                line-height: 25px;
            }
            ul{
                margin-left: 40px;
            }
        }
    }
}