@import '../../../../../assets/css/variables';

.program{
    background-color: $white;
    padding: 15px;
    border-radius: 5px;
    min-height: 460px;
    .programImage{
        background-color: $lightgrey;
        text-align: center;
        min-height: 160px;
    }
    .programDetails{
        h3{
            line-height: 25px;
            margin-top: 10px;
        }
        div {
            * {
                line-height: 25px;
            }
            ul{
                margin-left: 40px;
            }
        }
    }
}