@import 'assets/css/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: $lightgrey;
    max-width: 1440px;
    margin: auto;
    font-family: $font;
}

.btn {
    background-color: $primaryFade;
    border: 0;
    border-radius: 3px;
    padding: 5px 15px;
    cursor: pointer;
}

.btn.active{
    background-color: $primary;
}

.titleColor{
    color: $secondary;
}